body {
  margin: 0;
}
main {
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
  line-height: 1.5;
}
body::before {
  content: "";
  background-image: url("../img/pattern.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: opacity(20%);
  background-size: cover;
}
.code {
  color: red;
  background-color: yellow;
  font-weight: bold;
}

.tech {
  color: blue;
  background-color: yellow;
  font-weight: bold;
}

h2 {
  background-color: rgb(41, 232, 41);
}
a {
  display: block;
}
p {
  text-align: justify;
}
